In [ ]:
!pip install "numpy<2,>=1.13" "pandas~=1.1" "matplotlib<4,>=2.1" "lxml>=3.7" "nltk>=3.2" "beautifulsoup4>=4.6" "pypdf2>=1.26" "networkx>=2.8" "scipy<2,>=0.18" "scikit-learn>=0.19" "xlrd<2,>=1.0" "mpl-axes-aligner<2,>=1.1"

## Exercises

### Easy

1. Reload the names dataset (`data/names.csv`) with the year column as index. What is the
   total number of rows?
2. Print the number of rows for boy names and the number of rows for girl names.
3. The method `Series.value_counts()` computes a count of the unique values in a `Series`
   object. Use this function to find out whether there are more distinct male or more
   distinct female names in the dataset.
4. Find out how many distinct female names have a cumulative frequency higher than 100.

### Moderate
1. In section {ref}`sec-working-with-data-name-ending-bias`, we analyzed a bias in boys'
   names ending in the letter *n*. Repeat that analysis for girls' names. Do you observe any
   noteworthy trends?
2. Some names have been used for a long time. In this exercise we investigate which names
   were used both now and in the past. Write a function called `timespan()`, which takes a
   `Series` object as argument and returns the difference between the `Series`' maximum and
   minimum value (i.e. `max(x) - min(x)`). Apply this function to each unique name in the
   dataset, and print the five names with the longest timespan. (Hint: use `groupby()`,
   `apply()`, and `sort_values()`).
3. Compute the mean and maximum female and male name length (in characters) per year. Plot
   your results and comment on your findings.

### Challenging
1. Write a function which counts the number of vowel characters in a string. Which names have eight
   vowel characters in them? (Hint: use the function you wrote in combination with the `apply()`
   method.) For the sake of simplicity, you may assume that the following characters unambiguously represent vowel characters: `{'e', 'i', 'a', 'o', 'u', 'y'}`.
2. Calculate the mean usage in vowel characters in male names and female names in the entire
   dataset. Which gender is associated with higher average vowel usage? Do you
   think the difference counts as considerable? Try plotting the mean vowel usage over
   time. For this exercise, you do not have to worry about unisex names: if a name, for instance, occurs once as a female name and once as a male name, you may simply count it twice, i.e., once in each category.
3. Some initials are more productive than others and have generated a large number of
   distinct first names. In this exercise, we will visualize the differences in name
   generating productivity between initials.[^creditsbh] Create a scatter plot with dots for each
   distinct initial in the data (give points of girl names a different color than points
   of boy names). The Y-axis represents the total number of distinct names, and the X-axis
   represents the number of people carrying a name with a particular initial. In addition
   to simple dots, we would like to label each point with its corresponding initial. Use the
   function `plt.annotate()` to do that. Next, create two subplots using `plt.subplots()` and
   draw a similar scatter plot for the period between 1900 and 1920, and one for the
   period between 1980 and 2000. Do you observe any differences?

[^creditsbh]: This exercise was inspired by a blog post by Gerrit Bloothooft and David Onland
    (see https://www.neerlandistiek.nl/2018/05/productieve-beginletters-van-voornamen/).